*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    font-family: sans-serif;
    background-image: url(Düz\ renkler.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom ;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.center .avatar img{
    border-radius:50% ;
    width: 140px;
    height: 140px;
    margin-top: 35px;
}
.center{
    width: 600px;
    background-color: rgba(0,0,0,0.7);
    height: 550px;
    text-align: center;
    border-radius: 5px;

}
.content{
    padding: 15px;

}
h1{
   color: wheat;

}
.content h2,
p{
    font-weight: lighter;
    letter-spacing:1px ;
    width: 80%;
    margin: 10px auto;

}
.cv-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 15px 0;
    background-color: #5a7113;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.cv-button:hover {
    background-color: #0056b3;
}
.content h3{
    margin-top: 20px;
}
